.switchContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.switch {
  width: 42px;
  height: 20px;
  border-radius: 10px;
  padding: 4px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.switch div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
