.switchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  width: 42px;
  height: 20px;
  border-radius: 10px;
  padding: 4px;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: lightgray;
}

.switch.on {
  background-color: wheat;
}

.thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.thumb.on {
  background-color: gray;
}
