.loader {
  margin: 20% auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px dashed white;
  animation: krutilochka 3s infinite linear;
}

@keyframes krutilochka {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
