.profile {
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.userInfo {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.userImg {
  font-size: 72px;
}

.favs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 2px solid white;
  padding-left: 30px;
}

.favsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.favsList li:hover {
  color: wheat;
}

.favItem {
  display: flex;
  align-items: center;
  gap: 5px;
}
