.movieCard {
  height: 100%;
  border: 1px solid rgb(144, 144, 144, 0.8);
  display: flex;
  flex-direction: column;
}

.movieCard:hover {
  background: rgb(135, 135, 135);
  border: 1px solid wheat;
}

.movieCardInfoContainer {
  height: 100%;
  padding: 8px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.movieCardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movieCardGenres {
  color: lightgray;
  font-style: italic;
  font-size: 14px;
}
