* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header,
.footer {
  text-align: center;
  margin: 10px;
}

.container {
  width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid lightgray;
}

.h3-sidebar {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.parent-container {
  position: relative;
}

.movie-card {
  height: 50vh;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-card-img {
  width: 100%;
}

.movie-card-rating {
  display: flex;
  justify-content: space-between;
}

.like-button--card {
  position: absolute;
  right: 10px;
  bottom: 8px;
  z-index: 10;
}

.like-button--card:hover,
.like-button--page:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card-genres,
.movie-genres {
  color: lightgray;
  font-style: italic;
}

.card-genres {
  font-size: 14px;
}

.search input {
  width: 100%;
  padding: 4px 8px;
}

.rating-inputs {
  display: flex;
  gap: 8px;
}

.rating-inputs input {
  flex: 1;
  min-width: 0;
  padding: 4px 8px;
}

.checkbox-input {
  display: flex;
  gap: 10px;
}

.movie-info {
  padding: 30px;
  display: flex;
  gap: 20px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 15px;
}

.imdb-logo {
  width: 60px;
}
