* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header,
.footer {
  text-align: center;
  margin: 10px;
}

.container {
  width: 1200px;
  border: 1px solid lightgray;
  margin: 0 auto;
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid lightgray;
}

.h3-sidebar {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

.userpic {
  font-size: 40px;
  text-align: center;
  border: 1px solid rgb(144, 144, 144, 0.8);
  padding: 10px;
  cursor: pointer;
}

.search input {
  width: 100%;
}

.rating-inputs {
  display: flex;
  gap: 8px;
}

.text-inputs {
  min-width: 0;
  padding: 4px 8px;
  background: lightgray;
  outline: none;
}

.genres {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.active-genre {
  color: wheat;
}

.checkbox-input {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid rgb(144, 144, 144, 0.8);
  background: gray;
  color: inherit;
  cursor: pointer;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.parent-container {
  position: relative;
}

.movie-card {
  height: 100%;
  padding: 8px;
  border: 1px solid rgb(144, 144, 144, 0.8);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.userpic:hover,
.button.active,
.movie-card:hover,
.button:hover {
  background: rgb(135, 135, 135);
  border: 1px solid wheat;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-card-img {
  width: 100%;
}

.movie-card-rating {
  display: flex;
  justify-content: space-between;
}

.like-button--card {
  position: absolute;
  right: 10px;
  bottom: 8px;
  z-index: 10;
}

.like-button--card:hover,
.like-button--page:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card-genres,
.movie-genres {
  color: lightgray;
  font-style: italic;
}

.card-genres {
  font-size: 14px;
}

.movie-image {
  border: 2px solid wheat;
}

.movie-info {
  padding: 30px;
  display: flex;
  gap: 20px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 15px;
}

.imdb-logo {
  width: 60px;
}

.messages {
  margin: 20% auto;
}

.loader {
  margin: 20% auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px dashed white;
  animation: krutilochka 3s infinite linear;
}

@keyframes krutilochka {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.profile {
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.user-info {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-img {
  font-size: 72px;
}

.favs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 2px solid white;
  padding-left: 30px;
}

.fav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fav-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fav-list li:hover {
  color: wheat;
}
